.catalogo{
    font-family: monospace;
    font-size: 2vw;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.barraPesquisa{
  font-size:1rem;

  background-color: black;
  border: 2px solid #00ff88;
  color: #00ff88;

  width: 50%;
  line-height: 2;
  padding: 6px 10px;
}

.barraPesquisa::placeholder{
  color: white;
  opacity: 0.8;
}

.listaEspecies {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
}

.listaEspecies button{
    font-size: 3.5vh;
    min-width: 5vh;
    min-height: auto;
}

.modal{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalConteudo{
  position: relative;

  width: 50vw;
  height: auto;
  max-height: 80vh;

  padding: 5vh;

  background: black;
  border: 2px solid #00ff88;
  font-family: monospace;
  color: #00ff88;

  overflow-y: auto;
  box-sizing: border-box;
}

.modalConteudo::-webkit-scrollbar{
  width: 8px;
}

.modalConteudo::-webkit-scrollbar-thumb{
  background: #00ff88;
}

.fechar{
  position: absolute;
  top: 15px;
  right: 15px;



  border: 2px solid #00ff88;
  color: #00ff88;
  font-size: 1rem;
  cursor: pointer;
}

.dinoHeader{
  font-size: 5vh;
  text-align: center;
  margin: 2vh 0;
}

.dinoImagem{
  border: 2px solid #00ff88;
  width: 20vw;
  height: auto;
}

.dinoInfo{
  font-size: 2.5vh;
  text-align: left;
  max-width: 70ch;
  line-height: 2;
  overflow-wrap: anywhere;
  word-break: break-all;
}