.catalogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.headerCatalogo{
  font-family: monospace;
  font-size: 4vh;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.catalogo button{
  font-size: 2vh;
}

.barraPesquisa{
  font-size:1rem;

  background-color: black;
  border: 2px solid #00ff88;
  color: #00ff88;

  width: 50%;
  line-height: 2;
  padding: 6px 10px;
}

.barraPesquisa::placeholder{
  color: white;
  opacity: 0.8;
}

.listaEspecies {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
}

.listaEspecies button{
    font-size: 3.5vh;
    min-width: 5vh;
    min-height: auto;
}

.modal{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}



.fechar{
  position: absolute;
  top: 15px;
  right: 15px;



  border: 2px solid #00ff88;
  color: #00ff88;
  font-size: 1rem;
  cursor: pointer;
}

/*SOMENTE MODAL DE ADD USA*/
.modalAddEspecie{
  position: relative;

  width: 20vw;
  height: auto;

  padding: 5vh;

  background: black;
  border: 2px solid #00ff88;
  font-size: 1rem;
  font-family: monospace;
  color: #00ff88;
}

.formularioAddDino{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.formularioAddDino input{
  font-size:0.5;

  background-color: black;
  border: 2px solid #00ff88;
  color: #00ff88;

  width: 80%;
  line-height: 2;
  padding: 6px 10px;
}

.formularioAddDino input::placeholder{
  color: white;
  opacity: 0.8;
}

/*SOMENTE MODAL INFOS USA*/
.modalInfos{
  position: relative;

  width: 50vw;
  height: auto;
  max-height: 80vh;

  padding: 5vh;

  background: black;
  border: 2px solid #00ff88;
  font-family: monospace;
  color: #00ff88;

  overflow-y: auto;
  box-sizing: border-box;
}

.modalInfos::-webkit-scrollbar{
  width: 8px;
}

.modalInfos::-webkit-scrollbar-thumb{
  background: #00ff88;
}

.dinoHeader{
  font-size: 5vh;
  text-align: center;
  margin: 2vh 0;
}

.dinoImagem{
  border: 2px solid #00ff88;
  width: 20vw;
  height: auto;
}

.dinoInfo{
  font-size: 2.5vh;
  text-align: left;
  max-width: 70ch;
  line-height: 2;
  overflow-wrap: anywhere;
  word-break: break-all;
}

.botaoDelEspecie{
  font-size: 2rem;
  cursor: 'pointer';
}